.navbar {
    background-color: rgb(35, 223, 223);
    padding: 20px;

    a {
        color: blue;
        margin: 15px;
        padding: 20px;
    }
    a:hover{
        color: gold;
        background-color: black;
    }
}