<div class="ahorcado">
  <h2>Ahorcado</h2>

  <p class="palabra">{{ palabra }}</p>
  <p>Intentos restantes: {{ intentos }}</p>

  <div class="teclado">
    <button *ngFor="let letra of letras"
            [disabled]="letrasUsadas.includes(letra) || intentos === 0 || ganado === true"
            (click)="elegirLetra(letra)">
      {{ letra }}
    </button>
  </div>

  <p class="mensaje">{{ mensaje }} </p>
  <p class="mensaje"> Puntaje: {{ puntaje }} </p>
  <button (click)="nuevoJuego()">Volver a jugar</button>
</div>
