@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.ahorcado {
  text-align: center;
  margin-top: 150px;
}

h2,p{
  color: lightblue;
  font-weight: bold;
  height: 40px;
  font-family: 'Press Start 2P', system-ui;
}

.palabra {
  font-size: 40px;
  letter-spacing: 8px;
  color: red;
}
.teclado {
  margin-top: 20px;
  
}
.teclado button {
  border: 1px solid black;
  color: #0B1C4C;
  border-radius: 5px;
  margin: 4px;
  padding: 10px;
  font-size: 20px;
}

