<div class="home" *ngIf="usuario != null; else noUser">
  <h2>Bienvenido {{ nombreUsuario || usuario.email }}</h2>

  <h3>Juegos y chat</h3>
  <div class="botones"> 
    <button (click)="juegoAhorcado()"><img src="/assets/iconos/ahorcado.png" alt="Ahorcado" class="icono">Ahorcado</button>
    <button (click)="juegoBolita()"><img src="/assets/iconos/baraja-de-carta.png" alt="Bolita" class="icono">Bolita</button>
    <button (click)="juegoMayorMenor()"><img src="/assets/iconos/flechas-arriba-y-abajo.png" alt="MayorOMenor" class="icono">Mayor o Menor</button>
    <button><img src="/assets/iconos/apuesta.png" alt="Podio" class="icono">Preguntados</button>
    <button (click)="chat()"><img src="/assets/iconos/burbuja-de-dialogo.png" alt="Chat" class="icono">Chat</button>
    <button (click)="resultadoEncuesta()"><img src="/assets/iconos/podio.png" alt="Podio" class="icono">Resultados Juegos</button>
  </div>

</div>

<ng-template #noUser>
  <h1>No hay usuario logueado.</h1>
</ng-template>