@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');


.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.botones{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

button{
    font-family: 'Press Start 2P', system-ui;
    font-weight: bold;
    background: #FACC15;
    color: #0B1C4C;
    padding: 10px;
    border-radius: 8px;
    width: 270px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    background-color: lightcoral;
    font-weight: bold;
    font-family: 'Coiny', system-ui;
    color: #0B1C4C;
    margin-top: 200px;
}

h3{
    background-color: lightcoral;
    font-weight: bold;
    font-family: 'Coiny', system-ui;
    color: #0B1C4C;
    margin-top: 30px;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightcoral;
    font-weight: bold;
    font-family: 'Coiny', system-ui;
    color: #0B1C4C;
    margin-top: 340px;
}

.icono {
  width: 80px;
  height: 80px;
  margin-bottom: 7px;
  image-rendering: pixelated; /* 🔥 mantiene efecto retro */
  filter: drop-shadow(0 0 6px #00ffff);
}